<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <form class="sign-in-form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                <h2 class="title">Ingresa a esta plataforma toda Wuapa</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="email" placeholder="Correo" name="username" autocomplete="off" formControlName="email" />
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Contraseña" name="password" autocomplete="off" formControlName="password" />
                </div>
                <!-- <input type="submit" value="Ingresar" class="btn solid" /> -->
                <button type="submit" nz-button nzType="primary" [nzLoading]="isLoading" class="btn solid">
                    INGRESAR
                </button>

            </form>

        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Universidad de San Carlos de Guatemala</h3>
                <p>
                    Plataforma para el clima laboral.
                </p>

            </div>
            <img src="assets/images/clima/logoUsac.png" class="image" alt="" />
        </div>

    </div>
</div>