.clima-sano {
    background-color: rgba(4, 204, 14, 1);
}

.clima-acceptable {
    background-color: rgba(135, 246, 23, 1);
}

.clima-preventivo {
    background-color: rgba(246, 249, 51, 1);
}

.clima-debil {
    background-color: rgba(250, 60, 35, 1);
    border-left-color: black;
    text-align: center;
    font-weight: bold;
}