<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{titulo}}</h4>
                <h6 class="card-subtitle">{{subtitulo}}</h6>
                <label class="form-inline">Mostrar &nbsp;
                <select id="demo-show-entries">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select> &nbsp; registros </label>


            </div>
        </div>
    </div>
</div>